.poke-dialog{
    border-radius: 1rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-weight: bold;
    }
    img {
        width: 200px;
        border: 1px solid gray;
        text-align: center;
    }
    .type, .ability {
        min-width: 90%;
        span {
            font-weight: bold;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
        li {
            margin-left: 1rem;
        }
    }
}