<div class="card-list" *ngIf="pokemons.length > 0; else noData">
    <div class="card" *ngFor="let pokemon of pokemons" (click)="openDialog(pokemon)">
        <div class="title">
            {{pokemon.name}}
        </div>
        <div class="picture">
            <img [src]="pokemon.image" [alt]="pokemon.name">
        </div>
        <div class="power" *ngFor="let t of pokemon.types">
            {{t.type.name}}
        </div>

    </div>
</div>
<hr>
<ng-template #noData>
    <div class="connecting">
        Connecting to the server...
    </div>
</ng-template>