@font-face {
    font-family: "petal-inter";
    src: url("assets/fonts/Inter-Regular.woff2") format("woff2"), url("assets/fonts/Inter-Regular.woff2") format("woff");
    font-style: normal;
    font-weight:400
}

@font-face {
    font-family: "petal-inter";
    src: url("assets/fonts/Inter-SemiBold.woff2") format("woff2"), url("assets/fonts/Inter-SemiBold.woff2") format("woff");
    font-style: normal;
    font-weight:500
}

@font-face {
    font-family: "petal-inter";
    src: url("assets/fonts/Inter-Bold.woff2") format("woff2"), url("assets/fonts/Inter-Bold.woff2") format("woff");
    font-style: normal;
    font-weight:700
}

$font-family: petal-inter, sans-serif;